$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.stupid-image {
  margin-top: -100px;
}

.stupid-div {
  width: 90%;
  text-align: center;
  margin: auto;

  &.small {
    width: 70%;

    .stupid-image {
      margin-top: -50px;
    }
  }
}



.skillarea {
  font-weight: bold;
}

.skill {
  margin-left: 10px;
}

.subskill {
  margin-left: 20px;
}

.left-align {
  text-align: left;
}

.amandas-really-bitchy-and-stupid-button-that-i-dont-understand {
  width: 100px;
  height: 100px;
  z-index: 99;
  margin-top: -200px;
  margin-left: 50px;
  position: absolute;
  border: none;
  background: none;
  outline: none;
}

.amandas-really-bitchy-and-stupid-button-that-i-dont-understand:active {
  border: none;
  background: none;
  outline: none;
}

.amandas-really-bitchy-and-stupid-button-that-i-dont-understand:focus {
  border: none;
  background: none;
  outline: none;
}

body.transform {
  transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
}

.a-no-href {
  cursor: pointer;
}

.users-buttons {
  margin-top: 30px;
  margin-bottom: 20px;
}

.the-real-button {
  width: 465px;
  height: 245px;
  z-index: 99;
  margin-top: -583px;
  margin-left: -490px;
  position: absolute;
  border: none;
  background: none;
  outline: none;
}

.the-real-button:active {
  border: none;
  background: none;
  outline: none;
}

.the-real-button:focus {
  border: none;
  background: none;
  outline: none;
}

.the-real-button-two {
  width: 295px;
  height: 245px;
  z-index: 99;
  margin-top: -588px;
  margin-left: -148px;
  position: absolute;
  border: none;
  background: none;
  outline: none;
}

.the-real-button-two:active {
  border: none;
  background: none;
  outline: none;
}

.the-real-button-two:focus {
  border: none;
  background: none;
  outline: none;
}
