<div>
  <h1>User martin@spaceponies.org</h1>

  <div class="col-xs-12" ng-if="$root.companyId == 0">
    <div>Required skills:</div>

    <ul>
      <li>JS</li>
      <ul>
        <li>Desired frameworks: Angular, React</li>
      </ul>
      <li>HTML</li>
    </ul>

    <div>Desired skills:</div>

    <ul>
      <li>CSS</li>
      <ul>
        <li>Desired frameworks: SASS</li>
      </ul>
    </ul>
  </div>
  <div class="col-xs-12" ng-if="$root.companyId == 1">
    <div>Required skills:</div>

    <ul>
      <li>PHP</li>
      <ul>
        <li>Desired frameworks: Laravel</li>
      </ul>
      <li>JS</li>
      <ul>
        <li>Desired frameworks: Angular, React</li>
      </ul>
      <li>HTML</li>
      <li>CSS</li>
      <ul>
        <li>Desired frameworks: SASS</li>
      </ul>
    </ul>
  </div>
</div>
