<div class="stupid-div">
  <h1>User John Smith</h1>

  <div class="users-buttons">
    <div class="btn-group">
      <button type="button" class="btn btn-primary">Experience</button>
      <button type="button" class="btn btn-default">Skills</button>
      <button type="button" class="btn btn-default">Education</button>
      <button type="button" class="btn btn-default">Interests</button>
    </div>
  </div>

  <div class="left-align" style="margin-left: 350px; margin-bottom: 50px;">
    <div class="skillarea">Programming</div>
    <div class="skill"><input type="checkbox"> PHP</div>
    <div class="subskill"><input type="checkbox"> Laravel</div>
    <div class="skill"><input type="checkbox"> JavaScript</div>
    <div class="subskill"><input type="checkbox"> AngularJS</div>
    <div class="subskill"><input type="checkbox"> React</div>
    <div class="skill"><input type="checkbox"> HTML</div>
    <div class="skill"><input type="checkbox"> CSS</div>
    <div class="subskill"><input type="checkbox"> LESS</div>
    <div class="subskill"><input type="checkbox"> SASS</div>
    <div class="skillarea">Design</div>
    <div class="skill"><input type="checkbox"> Adobe Indesign</div>
    <div class="skill"><input type="checkbox"> MS Paint</div>

  </div>
</div>
